meta(property="og:title", content="sharky.cool - Index of " + path)
meta(property="og:image", content="https://sharky.cool/sharky.cool.png")
meta(property="og:url", content="https://sharky.cool" + path)
meta(property="theme-color", content="#4FA1CA")
link(href="https://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet")
style 
    | * { font-family: "Open Sans"; sans-serif; }
    | li { list-style-type: none; margin: 5px 0; }
    | a { color: #0074D9!important; }

div(style="background-color: #4FA1CA; padding: 20px 40px; display: flex; align-items: center;")
    img(src="/sharky.cool.png", style="width: 100px; margin-right: 20px;")
    h1(style="margin-right: 10px;") sharky.cool
    h2(style="opacity: 0.5;")= path
ul
    unless path == "/"
        li
            strong
                a(href="..", style="") ../
    if folders
        each folder in folders
            li
                a(href=folder)= folder + "/"
    if files
        each file in files
            li
                a(href=file)= file